/* Font-Family used */
/* Main Color variable */
/* Risk profile color variable */
/*-----------*/
/* css reset */
/*-----------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

/* main element base */
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

/* HEADER */
.header__navigation-path {
  margin: 1rem 0 0.5rem;
  font-size: 0.8rem;
  display: block;
}
.header__company-name {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.header__tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0;
  margin-top: 1rem;
}
.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
.header__item {
  padding: 0.5em 1em;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
}
.header__item--active {
  background-color: #dfdfe7;
}
.header__btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border: 1px solid #dfdfe7;
  border-radius: 50px;
  padding: 0.5em 1em;
  background-color: white;
}

.nav-bar {
  display: flex;
}
.nav-bar__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0;
  width: 100%;
  margin-left: 1rem;
}
.nav-bar__left-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
.nav-bar__logo {
  padding-right: 1rem;
}
.nav-bar__left-item {
  padding: 0 1rem;
  border-left: 1px solid grey;
  cursor: pointer;
}
.nav-bar__right-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
.nav-bar__right-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  padding-left: 1.5rem;
}
.nav-bar__icon--padding {
  padding: 0 0.5rem;
}

/*-----------*/
/* DASHBOARD */
/*-----------*/
.dashboard-container {
  border: 1px solid white;
  border-radius: 16px;
  background: white;
}

.dashboard__container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0;
  padding: 1rem;
  border-bottom: 2px solid #f1f1f7;
}

.dashboard__title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

* .dashboard-left {
  display: grid;
  grid-template-columns: repeat(2, 49%);
  grid-template-rows: repeat(32, auto);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  align-items: start;
}
* .dashboard-left__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0;
  padding: 1rem;
  border-bottom: 2px solid #f1f1f7;
}
* .dashboard-left__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}
* .dashboard-left__row--left-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  padding: 1rem;
}
* .dashboard-left__risk-profile {
  position: relative;
  grid-area: 1/1/8/3;
}
* .dashboard-left__key-information {
  grid-area: 8/1/22/1;
}
* .dashboard-left__shareholders {
  grid-area: 8/2/18/3;
}
* .dashboard-left__headquarters {
  grid-area: 18/2/30/3;
}
* .dashboard-left__headquarters-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}
* .dashboard-left__headquarters-img {
  width: 100%;
}
* .dashboard-left__key-financial {
  grid-area: 21/1/30/2;
}

/* risk profile graph */
.risk-profile__graph {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 5rem;
  padding: 1rem 5rem 0rem;
  background: linear-gradient(white 80%, #f1f1f7);
}
.risk-profile__graph-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
}
.risk-profile__graph-item {
  margin: 0.25rem 0;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  background: #e6e6e6;
}
.risk-profile__graph-tag-item {
  border: 1px solid #dfdfe7;
  border-radius: 11px;
  padding: 0.1rem 0.3rem;
  white-space: nowrap;
  position: absolute;
  bottom: 10%;
  font-weight: bold;
}
.risk-profile__graph-tag-list {
  height: 4rem;
}

/* risk profile graph color */
.high-risk {
  color: #db303f;
  border-color: #db303f;
}

.very_low_risk_color {
  background: #8bcc12;
}

.low_risk_color {
  background: #ffb624;
}

.medium_risk_color {
  background: #ff8a00;
}

.high_risk_color {
  background: #ff4242;
}

/*----------------------*/
/* DASHBOARD RIGHT SIDE */
/*----------------------*/
.dashboard-right {
  width: 40%;
}
.dashboard-right__container {
  margin-bottom: 2rem;
  width: 100%;
}
.dashboard-right__container-desc {
  font-weight: 600;
}
.dashboard-right__container-desc--text {
  text-align: center;
  padding: 1rem;
  white-space: nowrap;
  font-weight: 600;
}
.dashboard-right__icon-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 0.25rem;
  border: 1px solid #f8f8fb;
  border-radius: 0 0 16px 16px;
  padding: 1rem;
  background-color: #f8f8fb;
}
.dashboard-right__btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}
.dashboard-right__btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 0;
  border: none;
  border-radius: 20px;
  padding: 0.5rem;
  white-space: nowrap;
  width: 100%;
  background: #a84cd8;
}
.dashboard-right__btn-text {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
  width: 100%;
  color: white;
}
.dashboard-right__desc {
  font-weight: 600;
}

.profile-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  width: 34px;
  height: 34px;
  border-color: #dfdfe7;
  border: 1px solid;
  border-radius: 50%;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #c7c7d0;
  cursor: pointer;
}

.circle {
  width: 24px;
  height: 24px;
  border-color: #dfdfe7;
  border: 1px solid;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.little-circle {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  width: 15px;
  height: 15px;
  border-color: white;
  border: 1px solid;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 0.75rem;
}

/*------------------------*/
/*-- reusable css class --*/
/*------------------------*/
.belgium-flag {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  height: 1rem;
  width: 2rem;
}
.belgium-flag > * {
  width: 33%;
  height: 100%;
}
.belgium-flag__color-line-black {
  border-radius: 2px 0 0 2px;
  background: #262626;
}
.belgium-flag__color-line-yellow {
  background: #ffcf3c;
}
.belgium-flag__color-line-red {
  border-radius: 0px 2px 2px 0px;
  background: #ff4453;
}

.top-section {
  margin: 1rem 2rem 0 2rem;
}

.bottom-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  gap: 3rem;
  margin-top: 2rem;
  padding: 1rem 2rem 0 2rem;
  background-color: #f1f1f7;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
