/* Font-Family used */

$primary_font-family: "Source Sans Pro", sans-serif;
$secondary_font-family: "Poppins", sans-serif;

/* Main Color variable */
$primary_color: #2a2a25;
$primary_background_color: #f1f1f7;
$secondary_background_color: #f8f8fb;
$primary_button_background_color: #a84cd8;
$tab_selected_color: #dfdfe7;
$a_tag_color: #8437b9;

/* Risk profile color variable */
$empty_risk_color: #e6e6e6;
$very_low_risk_color: #8bcc12;
$low_risk_color: #ffb624;
$medium_risk_color: #ff8a00;
$high_risk_color: #ff4242;
$very_high_risk_color: #dc0101;

$high_risk_color_name_tag: #db303f;
